{% extends 'base.html' %}

{% block title %}
    {{ post.title }} | INIT Media
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    <p>
        <a class="btn btn-outline-secondary" href="{% url 'update_post' post.pk %}">Edit</a>
        <a class="btn btn-outline-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
    </p>
    {% endif %}

<h1>{{ post.title }}</h1>
<p>In {{ post.category }} | By: {{ post.author.last_name }} @ {{ post.date}}  </p>
<p>{{ post.body }}</p>

{% endblock %}